
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* color: white; */
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
*::-webkit-scrollbar{
    display: none;
}
.main-container{
    width: 100%;
    text-align: center;
    background: #1d1d1d;
    min-height: 100vh;
    z-index: -1;
}

/* ul{
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    display: flex;
    align-items: flex-end;
    margin-left: auto;
    justify-content: space-around;
    gap: 5%;
    background-color: white;
    
} */
a{
    text-decoration: none;
}
.first-block{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-image: url(blank-brochures-business-cards.jpg);
    background-size: cover;
}
span{
    color: black;
}
.y{
    font-size: 90px;
    opacity: 0.8;
}
.name{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.short-intro{
    font-size: 20px;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
}
.navigation{
    font-size: 100px;
    opacity: 0.8;
    cursor: pointer;
    color: black;
}
hr{
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(255, 255, 255, 0.5);
    opacity: 0.8;
    width: 25%;
    display: flex;
    justify-content: center;
    margin: 40px auto;
  }



/* aboutSection */
.about-section{
    top:20px;
    padding: 20px;
    color: white;
}
img{
    border-radius: 10px;
    
}
img:hover{
    transform: scale(1.1);
    transition: all .2s ease-in-out;
}
.heading1{
    font-size: 100px;
    opacity: .5;
    padding: 20px;
}
.heading{
    width: 60%;
    margin: 0px auto;
}

.skillheading{
    font-size: 50px;
    padding: 20px;
    opacity: .5;
    margin-top: 20px;   
}

.skills{
    width: 60%;
    margin: 0 auto;
}

.skillimg{
    margin-top: 20px;
    
}

/* project section */
.projects-section{
    color: white;
}
.proheading{
    margin-bottom: 25px;
    font-size: 100px;
    opacity: .5;
    padding: 20px;
}
.cardsec{
    display: flex;
    gap: 30px;

}
.card{
    padding: 20px;
    margin: auto;
    width: 500px;
    height: 300px;
    border-top:2px solid #FD2155;
    /* border-top: #92a8d1; */
  
    /* border-radius: 10px; */
    background: #1d1d1d;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
    
    text-align: center;
  
    transform-style: preserve-3d;
    perspective: 1000px;

    /* display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px; */
}
.cardtext{
    padding: 20px;
    color: white;
    transform: translateZ(30px);
}